footer.main-footer
  .main-footer__main
    .container
      .row.align-items-center
        .col-12.col-md-4.col-lg-auto.mb-3.mb-lg-0
          .main-footer__logo: a(href="#").main-footer-logo: img(src="img/footer-logo.png", alt="").img-responsive
          .main-footer__contacts
            ul.footer-contacts
              li.footer-contacts__item
                span.footer-contacts__ico: i.fa.fa-phone
                | +7 (499) 164-91-34,  +7 (495) 772-16-25
              li.footer-contacts__item
                span.footer-contacts__ico: i.fa.fa-map-marker
                | Москва Константина Федина ул., дом 4
              li.footer-contacts__item
                span.footer-contacts__ico: i.fa.fa-envelope
                | sales@essprofi.ru
        .col-auto.d-none.d-md-block
          .footer-sep
        .col-12.col-md.ml-auto
          .footer-form
            .footer-form__header
              span Задайте нам свой вопрос!
              a(href="#modalVacancy").fancybox.vacancy-link
                span.vacancy-link__ico: i.fa.fa-user
                span.vacancy-link__text Есть вакансии
            .footer-form__desc Задайте вопрос любым удобным для Вас способом и мы свяжемся с Вами в ближайшее время
            .footer-form__form
            .footer-form__btns
              a(href="#modalFeedback").fancybox.btn.btn_light.btn_fill Заказать звонок
              a(href="#modalCallback").fancybox.btn.btn_light.btn_fill Написать письмо
  .main-footer__bottom    
    .container
      .row
        .col.d-none.d-lg-block
          .main-footer__nav
            nav.main-nav
              a(href="#home").scrollto.main-nav__link.main-nav__link_active Главная
              a(href="#about").scrollto.main-nav__link О компании
              a(href="#solution").scrollto.main-nav__link Решения
              a(href="#services").scrollto.main-nav__link Услуги
              a(href="#exp").scrollto.main-nav__link Опыт
              a(href="#contacts").scrollto.main-nav__link Контакты
        .col.col-md-auto.ml-auto.d-flex
          .main-footer__copyright 2018 Разработка сайта
          .main-footer__studio: a(href="#"): img(src="img/itn.png", alt="").img-responsive
.modals.d-none
  .modal-vac#modalVacancy
    .modal-close(data-fancybox-close)
    .modal-vac__header
      .modal-vac__name Специалист
      .modal-vac__props
        .vacancy-props
          .vacancy-props__col
            .vacancy-props__name Зарплата:
            .vacancy-props__prop 20 000 - 35 000 руб.
          .vacancy-props__col
            .vacancy-props__name Опты работы:
            .vacancy-props__prop 1-3 года
          .vacancy-props__col
            .vacancy-props__date 24 июня 2017
    .modal-vac__body
      .default-content
        p В данный момент мы ищем в нашу команду удаленного специалиста. Наши преимущества: с нами вы не рисуете очередной "лэндос" или 101 интернет-магазин селфи-палок, а участвуете в создании масштабных проектов  для федеральных и региональных органов исполнительной власти России.Вы сможете пополнить свое портфолио действительно значимыми работам, параллельно поднимая свой скилл.
        p Работа предполагает значительную степень свободы и творчества, точных инструкций и требований мы не предоставим, но при этом оставлять вас один на один с проектом мы также не собираемся. Наставничество,  консультации опытного арт-директора, совместные выработки решений - все это лежит в основе нашего рабочего процесса
        br
        p: b Обязанности: 
        p Отрисовка макетов страниц различных порталов. Нам интересна концепция дизайна, где уделяется большое внимание проработке интерфейса, присутствует качественная сетка и продуманная логика размещения блоков.
        p: b Требования: 
        p Желание и умение погружаться в техническое задание, интерпретируя его с учётом удобства использования создаваемого дизайна.
        p: b Условия:
        p График смешанный, поэтому необходима возможность связаться с 10 до 18 по Москве, включая выходные (по предварительной договоренности). Оплата по часам (учет времени в Битрикс24), готовы рассмотреть любую ставку, если она соответствует уровню качества ваших работ, и вашей обязательности. Первое время - еженедельно. Мы предложим вам выполнить оплачиваемое тестовое задание, так как понимаем, что бесплатной качественной работы не бывает. Это будет набросок макета сайта. Сам сайт уже реализован нами и функционирует, вам нужно будет придумать и создать альтернативу. ак вы сможете оценить требуемый нами уровень качества, а мы - ваши умения.
    .modal-vac__footer
      a(href="#").btn.btn_primary.modal-vac__btn Откликнуться на вакансию

  .modal#modalFeedback
    .modal-close.modal-close_light(data-fancybox-close)
    .modal__header Написать письмо
    .modal__form
      form(action="" data-parsley-validate)
        .form-control: input(required type="text" name="name" placeholder="Ваше имя").input
        .form-control: input(required type="email" name="email" placeholder="Ваш E-mail").input
        .form-control: textarea(placeholder="Текст сообщения").textarea
        .form-control: button.btn.btn_primary.btn_fill.modal__submit Отправить
    .modal__footer
      a(href="#") Передумали ?
      a(href="#") Хотите заказaть звонок ?
  .modal#modalCallback
    .modal-close.modal-close_light(data-fancybox-close)
    .modal__header Заказать звонок
    .modal__form
      form(action="" data-parsley-validate)
        .form-control: input(required type="text" name="name" placeholder="Ваше имя").input
        .form-control: input(required type="tel" name="tel" placeholder="Ваш номер телефона").input
        .form-control: button.btn.btn_primary.btn_fill.modal__submit Отправить
    .modal__footer
      a(href="#") Передумали ?
      a(href="#") Хотите заказaть звонок ?
  .modal-service#modalService
    .modal-service__close(data-fancybox-close)
    .modal-service__col
      .modal-service__image(style="background-image: url(img/modal-service-image.jpg)")
    .modal-service__col
      .modal-service__logo: img(src="img/service-modal-logo.jpg", alt="")
      .modal-service__text
        .modal-service__text
          .modal-service__name Проектирование системы видеонаблюдения
          p Адрес объекта: 
          p г. Москва, проспект мира
          br
          p Выполненные работы:
          p Проектирование систем видеонаблюдения, пожарной сигнализации, охранной сигнализации, контроля доступа любой сложности в соответствии с действующими нормативами и правилами. Включает в себя подбор наиболее оптимального оборудование под поставленное техническое задание, согласование с заказчиком всех элементов системы и непосредственное изготовление проектной документации.
  .modal-portfolio#modalPortfolio
    .modal-close(data-fancybox-close)
    .modal-portfolio__name Наши объекты
    .portfolio-gallary
      .swiper-container.gallery-top
        .swiper-wrapper
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/1)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/2)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/3)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/4)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/5)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/6)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/7)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/8)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/9)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/10)').portfolio-gallary__item
            .portfolio-gallary__desc
              .portfolio-gallary__name Объект-35
              .default-content
                p Адрес объекта: <br> г. Москва, район Одинцово
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ducimus quam tempora, corrupti numquam maxime recusandae asperiores quasi ab commodi harum. Accusamus, nisi? Excepturi magni veniam alias qui quas placeat!
        // Add Arrows        
        .slider-nav
          button.slider-nav__prev(data-prev): i.fa.fa-angle-left
          button.slider-nav__next(data-next): i.fa.fa-angle-right
      .swiper-container.gallery-thumbs
        .swiper-wrapper
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/1)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/2)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/3)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/4)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/5)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/6)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/7)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/8)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/9)')
          .swiper-slide(style='background-image:url(http://lorempixel.com/1200/1200/nature/10)')

        