@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_bootstrap-grid";
@import "_fonts";

$red: #8F1300;
$shadow: 1px 1px 2px 0 rgba(#000, .17);
$shadowHover: 2px 2px 5px 0 rgba(#000, .3);

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: $white;
    font-family: $ff-primary;
    margin: 0;
    padding: 0;
    min-width: 320px;
    color:#20201e;
}

.ns{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*-------------------------------------------------*/
/*  START: helpers */
/*-------------------------------------------------*/

.img-responsive{
    max-width: 100%;
}
.default-content{
    color: #20201e;
    line-height: (24 / 16);
    p,ul,ol{
        margin: 2rem 0;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.h{
    &_xl{
        font-size: 3.6rem;
        line-height: 1;
        margin-bottom: 4rem;
        font-weight: 900;
    }
    &_l{
        font-size: 2.4rem;
        line-height: 1;
    }
    &_m{
        font-size: 1.8rem;
        font-weight: 900;
    }
    &_line{
        &:after{
            content: '';
            width: 3.5rem;
            height: 3px;
            background-color: #8F1300;
            margin-left: 1.2rem;
            vertical-align: middle;
            display: inline-block;
        }        
    }
    &_light{
        color: white;
        &:after{
            background: white;
        }
    }
}
/*-------------------------------------------------*/
/*  END: helpers */
/*-------------------------------------------------*/

.btn{
    padding: 1rem;
    display: inline-block;
    outline:none;
    color: inherit;
    background: none;
    border:none;
    text-decoration: none;
    text-align: center;
    &_bd{
        border: 1px solid white;
        color: white;
        transition: all .3s;
        &:hover{
            background: white;
            color: #3C3C3C;
        }
    }
    &_light{
        background-color: #D1D1D1;
        color: #828282;
        transition: background .3s;
        text-transform: uppercase;
        &:hover{
            background: white;
        }
    }
    &_primary{
        background-color: #8F1300;
        color: white;
        transition: all .3s;
        &:hover{
            background-color: lighten(#8F1300 , 10%);
        }
    }
    &_fill{
        width: 100%;
    }
}

.section{
    padding: 7rem 0;
}

.section-arrow{
    width:  4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 4px 1px rgba(0, 1, 5, 0.21);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a1a07;
    font-size: 2.6rem;
    .fa{
        line-height: 0;
        margin-top: .1em;
    }
}

.main-header{
    background-image: url('../img/main-bg.jpg');
    background-position: center top;
    background-size: cover;
    height: 72rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8rem;
    
    &__center{
        text-align: center;
        flex: 1 1 0;
        display: flex;
        align-items: center;
    }
    &__arrow{
        margin-bottom: 9rem;
    }
}

.top-panel{
    box-shadow: 0 0 30px rgba(black, .2);
    background-color: #fff;
    position: fixed;
    left: 0;right: 0;
    top: 0;
    z-index: 10;
    &__row{
        height: 8.7rem;
        justify-content: space-between;
    }
    &__logo,&__nav{
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.top-logo{
    width: 100%;
    max-width: 16rem;
    display: inline-block;
}

.main-nav{
    height: 100%;
    &__link{
        color: inherit;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        height: 100%;
        display: inline-flex;
        align-items: center;
        transition: border .3s;
        &:not(:last-child){
            margin-right: 4rem;
        }
        &_active{
            border-color: #8F1300;
        }
        &:hover{
            border-color: rgba($red, .5);
        }
    }
}

.header-center{
    text-transform: uppercase;
    font-style: italic;
    &__image{
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
}

.about{
    background-image: url('../img/about-pattern.png'), url('../img/about-background.jpg');
    background-position: calc(10rem - -80%) top;
    background-repeat: repeat, no-repeat;
    background-size: auto auto, auto 100%;
    padding: 9rem 0rem 6rem;
    &-slider{
        margin-bottom: 1rem;
        &__pagination{
            right: 0;
            top: 50%;
            position: absolute;
            transform: translate(0,-50%);
            left: auto !important;
            bottom: auto !important;
            display: inline-flex !important;
            width: auto !important;
        }
        &__item{
            opacity: 0 !important;
            transition: opacity .3s;
            &.swiper-slide{
                .default-content{margin-right: 6rem;}
                &-active{
                    opacity: 1 !important;
                }
            }
        }
    }
}

.vertical-pagination{
    display: flex;
    flex-direction: column;
    z-index: 2;
    &__item{
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        background: #DBDBDB;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s;
        &:not(&_active):hover{
            background: darken(#DBDBDB,5%);
        }
        &_active{
            background-color: #8F1300;
            cursor: default;
        }
        &:not(:first-child){
            margin-top: 1.3rem;
        }
    }
}

.sert{
    position: relative;
    &-item{
        display: block;
        position: relative;
        &:after{
            position: absolute;
            top: 0;right: 0;left: 0;bottom: 0;
            content: '';
            display: block;
            transition: box-shadow .3s;
        }
        &:hover:after{
            box-shadow: inset 0 0 0px 2px $red;
        }
    }
    &-tabs{
        &__nav{
            text-align: right;
        }
    }
    &-slider{
        position: relative;
        &__wrapper:not(.swiper-wrapper){
            display: flex;
        }
        &__item:not(.swiper-slide){
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
            padding: 0 .5rem;
        }
        
    }
}


.slider-nav{
    &__prev,&__next{
        z-index: 2;
        position: absolute;
        width: 3.4rem;
        height: 6.8rem;
        background: #fff;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0,-50%);
        top: 50%;
        border:none;
        box-shadow: $shadow;
        transition: box-shadow .3s;
        font-size: 2rem;
        &:hover{
            box-shadow: $shadowHover;
            color: $red;
        }
        &.disabled{
            color: grey;
            background: whitesmoke;
            box-shadow: $shadow;
            cursor: not-allowed;
        }
    }
    &__prev{
        left: 1px;
    }
    &__next{
        right: 1px;
    }
}

.tabs-nav{
    display: inline-flex;
    margin-left: auto;
    &__item{
        outline:none;
        border:none;
        background:none;
        font-size: 1.8rem;
        line-height: 1;
        padding: 0.5rem 2.4rem;
        box-shadow: $shadow;
        min-height: 3.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: box-shadow .3s;
        &:hover{
            box-shadow: $shadowHover;
        }
        &:not(:last-child){
            margin-right: 1rem;
        }
        &_active{
            color: $red;
        }
    }
}

.tabs-content{
    &__item{
        &:not(&_active){
            display: none;
        }
    }
}

.services, .map-block{
    background: rgba(#222222, .93);
    background-image: url('../img/about-pattern.png');
}
.services__row{
    position: relative;
}
.services-detail{
    position: absolute;
    height: 100%;
    left:  .4rem;
    right: .4rem;
    bottom: .8rem;
    background: white;
    z-index: 1;
    animation: fadeServicesDetail .5s;
    display: none;
    flex-direction: column;
    &_active{
        display: flex;
    }
    &__text{
        padding: 2.5rem 5rem;
        position: relative;
        flex: 1 1 0;
        height: 100%;
        overflow: hidden;
    }
    &__content{
        height: 100%;
        overflow: auto;
    }
    &__image{
        height: 22rem;
        flex: 0 0 22rem;
        background-size: cover;
    }
    &__name{
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    &__close{
        background: white;
        width: 5.4rem;
        height: 5.7rem;
        background: white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:after{
            content: '';
            font-size: 3rem;
            font-family: FontAwesome;
            color: $red;

        }
    }
}

.map-block{
    position: relative;
    overflow: hidden;
}

.services,.portfolio{
    &__col{
        padding: 0 .4rem;
        margin-bottom: 0.8rem;
    }
    &__row{
        margin-left: -.4rem;
        margin-right: -.4rem;
    }
}
.services__more{
    text-transform: uppercase;
    padding-left: 3.4rem;
    padding-right: 3.5rem;
}
.service-item{
    text-decoration: none;
    &__image{
        img{
            width: 100%;
        }
    }
    &__text{
        background: rgba(#232323, .61);
        position: absolute;
        bottom: 0;
        color: white;
        padding: 2rem 3rem;
        border-left: 3px solid $red;
        transition: all .3s;
    }
     &:hover &__text{
        padding-bottom: 5rem;
    }
    &__name{
        margin-bottom: .8rem; 
    }
}

.portfolio-item{
    overflow: hidden;
    &__image{
        transition: filter 1s;
    }
    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        background: rgba(#373737,.36);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 28rem;
        height: 8.6rem;
        text-align: center;
        border: 3px solid white;
        border-radius: 3px;
        transition: box-shadow 1s;
    }
    &:hover &__image{
        filter: blur(3px);
    }
    &:hover &__text{
        box-shadow: inset 0 0 4rem rgba(black, .6), 0 0 13rem rgba(black, .8);
    }
}

.service-item,
.portfolio-item{
    position: relative;
    display: block;
    &__name{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2rem;
    }
    &__desc{
        font-size: 1.4rem;
    }
   
}

.team{
    background-color: #F6F6F6;
    background-image: url('../img/about-pattern.png');
    position: relative;
    &__row{
        position: relative;
    }
    &-item{
        display: block;
        color: inherit;
        text-decoration: none;
        &__image{
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        img{
            width: 100%;
            transition: all .3s;
        }
        &__text{
            padding: 1.5rem 0;
            font-size: 1.6rem;
            color: #707070;
        }
        &__name{
            font-weight: 900;
            margin-bottom: 1rem;
            color: #1A1A18;
            &:after{
                content: '';
                width: 35px;
                height: 3px;
                display: block;
                background: $red;
                margin-top: 0.7rem;
            }
        }
    }
    .slider-nav{
        &>*{
            top: 14rem;
        }
    }
}

.partners{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    img{
        max-width: 100%;
    }
    &__item{
        padding: 1rem;
        position: relative;
        flex: 0 0 calc(100% / 8);
        min-width: calc(100% / 8);
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &_active{
            img{
                position: relative;
                z-index: 1;
            }
            .tooltip-partners{
                display: block;
            }
        }
    }
}

.main-footer{
    color: #C1C1C1;
    &__nav{
        height: 100%;
    }
    &__logo{
        margin-bottom: 2.5rem;
    }
    &__main,&__bottom{
        background-image: url('../img/about-pattern.png');
    }
    &__main{
        background-color: #2E2E2E;
        padding: 5rem 0;
    }
    &__bottom{
        background-color: #373737;
        height: 9.2rem;
        &>*{
            height: 100%;
            &>*{
                height: 100%;
            }
        }
    }
    &__copyright{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        display: flex;
        align-items: center;
       
    }
    &__studio{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }
}

.footer-contacts{
    list-style: none;
    padding: 0;
    margin: 0;
    &__ico{
        width: 1.5em;
        display: inline-block;
        text-align: center;
        margin-right: 1rem;
    }
    &__item{
        &:not(:first-child){
            margin-top: 1rem;
        }
    }
}

.footer-sep{
    width: 1px;
    height: 4.2rem;
    background-color: #4C4C4C;
    margin: auto 4rem;
}

.footer-form{
    &__header{
        display: flex;
        justify-content: space-between;
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    &__desc{
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
    }
    &__btns{
        display: flex;
        &>*{
            &:first-child{
                margin-right: 0.6rem;
            }
            &:last-child{
                margin-left: 0.6rem;
            }
        }
    }
}

.vacancy-link{
    color: inherit;
    text-decoration: none;
    color: white;
    &__ico{
        color: #B20E01;
        filter: drop-shadow(0 0 .1em white);
        margin-right: 0.8rem;
        transition: .3s;
    }
    &:hover &__ico{
        transform: translate(0,-5%);
        display: inline-block;
        filter: drop-shadow(0 0 .2em white);
    }
}

.map{
    font-size: 1.6rem;
    height: em(551, 16);
    background-image: url('../img/map-bg-marker.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    &__main{
        position: relative;
        background-image: url('../img/map-main.png');
        width: em(954);
        height: em(521);
        background-size: cover;
        margin-bottom: -3.5em;
    }
    &__place{
        position: absolute;
        &_active .map-place__marker{
            filter: drop-shadow(0px 0px 4px white)
        }
        &:nth-child(1){
            top: 9em;
            left: 0em;
        }
        &:nth-child(2){
                top: 4.8em;
    left: 8.9em;
        }
        &:nth-child(3){
            top: 14.5em;
            left: 5.8em;
        }
        &:nth-child(4){
    top: 11.5em;
    left: 14.7em;
        }
        &:nth-child(5){
    top: 8.6em;
    left: 26.1em;
        }
        &:nth-child(6){
    top: 11em;
    left: 34em;
        }
    }
}

.map-card{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 570px);
    height: 100%;
    background: white;
    z-index: 1;
    display: none;
    padding: 5rem 4rem;
    padding-left: calc((100vw - 1020px)/2);
    animation-duration: .3s;
    flex-direction: column;
    &__content{
        flex: 1 1 0;
        overflow: auto;
    }
    &_active{
        display: flex;
    }
    &__back{
        margin-bottom: 3rem;
        text-align: right;
        color: #1B1B1B;
        cursor: pointer;
        flex: 0 1 auto;
    }
    &__image{
        width: 100%;
        height: 28.6rem;
        background-size: cover;
        margin-left: auto;
        text-align: left;
        padding: 2rem 1.5rem;
        margin-bottom: 2.5rem;
    }
    &__name{
        font-size: 3rem;
        font-weight: 900;
    }
    &__detail{
        ul{
            margin-top: 0;
            padding: 0;
            list-style: none;
            li{
                position: relative;
                &:before{
                    content: '';
                    font-family: FontAwesome;
                    color: #AA1800;
                    display: inline-block;
                    margin-right: 1rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

.map-nav{
    background: rgba(black, .85);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    color: white;
    text-align: right;
    width: calc((100vw - (100vw - 1020px)/2) - 72rem);
    padding-right: calc((100vw - 1020px)/2 + 10px);
    padding-top: 8rem;
    padding-bottom: 14rem;
    display: flex;
    flex-direction: column;
    &__container{
        flex: 1 1 0;
        overflow: hidden;
        height: 100%;
    }
    &__nav{
        display: inline-block;
        margin: 1rem 0 1.5rem;
        border-bottom: 3px solid white;
        align-self: flex-end;
        padding-bottom: 0.8rem;
        &>*{
            background: none;
            border:none;
        }
        
        i{
            font-size: 3rem;
            line-height: 1;
            color: white;
        }
    }
    &__header{
        font-weight: bold;
    }
    &__list{
        flex: 1 1 0;
        height: 100%;        
        overflow: hidden;
        position: relative;
        &:not(&_active){
            display: none;
        }
    }
    &__scroll{
        height: 100%;
        overflow: auto;
        position: relative;
        > .scroll-element.scroll-y{
            left: 0;
        }
        .scroll-element{
            border-radius: 0 !important;
        }
        .scroll-element_outer,
        .scroll-element_track{
            border-radius: 0 !important;
            background: black !important;
            opacity: 1 !important;
            width: 1.1rem !important;
        }
        .scroll-bar{
            border-radius: 0 !important;
            background: $red !important;
            opacity: 1 !important;
            width: 1.1rem !important;
        }
    }
}

.map-list{
    list-style-type: none;
    overflow: auto;    

    margin: 0;
    padding: 0;
    &__item{
        &:after{
            content: '';
            display: block;
            height: 1px;
            width: 34px;
            background: #717171;
            margin: 1.4rem 0;
            margin-left: auto;
        }
    }
}

.map-place{
    display: inline-flex;
    align-items: flex-end;
    text-align: right;
    color: white;
    cursor: pointer;
    &__text{
        font-size: em(18);
        text-shadow: 3px 3px 3px black, -1px -1px 1px black;
    }
    &__marker{
        width: em(54);
        height: em(82);
        background-image: url('../img/mark.png');
        background-size: cover;
        margin-left: 1rem;
        filter: drop-shadow(1px 1px 1px black);
        transition: all .3s;
    }
    &__count{
        font-weight: 900;
        font-size: em(30,18);
        line-height: 1;
    }
    
    &:hover &__marker{
        filter: drop-shadow(0px 0px 4px white)
    }
    &-desc{
        font-size: 1.4rem;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        &__header{
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}

.modals{
    position: fixed;
    top: 0;right: 0;
    left: 0;
    bottom: 0;
    background: rgba(black,.7);
    z-index: 1;
}

.modal-vac{
    background: white;
    width: 100%;
    max-width: 1124px;
    padding: 5.5rem 5rem;
    position: relative;
    &__btn{
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }
    &__header{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        flex-wrap: wrap;
    }
    &__name{
        color: $red;
        font-size: 3.6rem;
        font-weight: 800;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    &__props{
        margin-bottom: .2rem;
        margin-bottom: 2.5rem;
        max-width: 100%;
    }
    &__body{
        margin-bottom: 3rem;
        
    }
}

.vacancy-props{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E7E7E7;
    font-size: 1.4rem;
    padding: 0rem 2.4rem;
    white-space: nowrap;
    flex-wrap: wrap;
    &__col{
        display: flex;
        align-items: center;
        margin: 1rem;
        &:not(:last-child){
            margin-right: 8rem;
        }
    }
    &__name{
        margin-right: 1.5rem;
        font-weight: bold;
        color: #8B8B8B;
    }
}

.modal{
    position: relative;
    &-close{
        &:after{
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-family: FontAwesome;
            content: '';
            color: $red;
            font-size: 3rem;
            cursor: pointer;
        }
        &_light:after{
            color: white;
        }
    }
    &__header{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2.5rem;
        font-weight: 900;
    }
    background: #383838;
    max-width: 400px;
    padding: 3rem 4.5rem 2.5rem;
    color: white;
    &__form{
        margin-bottom: 2rem;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.4rem;
        a{
            color: #E2E2E2;
            line-height: 1.5;
        }
    }
    &__submit{
        text-transform: uppercase;
    }
}

.tooltip-partners{
    background: #F7F7F7;
    position: absolute;
    display: none;
    width: 21rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 1.5rem 2.6rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 11rem;
    top: -1rem;
    box-shadow: 2px 4px 6px rgba(black,.24);
    &-close{
        cursor: pointer;
        &:after{
            content: '';
            font-size: 1.6rem;
            color: $red;
            position: absolute;
            right: 2rem;
            top: 1rem;
            font-family: FontAwesome;
        }
    }
    &-container{
        position: relative;
    }
    &__name{
        font-size: 3rem;
    }
    
}

.tip3 .tooltip-partners{
    display: block;
}

.textarea,
.input{
    width: 100%;
    vertical-align: top;
    border:none;
    outline:none;
    text-align: center;
    background: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    height: 3.8rem;
    padding: 1rem;
    &::placeholder{
        color: #909090;
    }
}
.textarea{
    height: 10rem;
}

.form-control{
    &:not(:last-child){
        margin-bottom: 1.3rem;
    }
}

.parsley-errors-list{
    list-style: none;
    color: red;
    font-size: 1.2rem;
    padding: 0;
    margin: 1rem 0;
}

    .swiper-container {
      width: 100%;
    
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 80%;
      width: 100%;
    }
    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }

    .portfolio-gallary{
        height: 50rem;
        &__item{
            display: flex;
            align-items: flex-end;
        }
        &__name{
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        &__desc{
            background: rgba(#343434,.54);
            color: white;
            padding: 2rem 5rem;
            p{
                margin: 0;
                
            }
            .default-content{
                color: white;
            }
        }
    }
    .modal-portfolio{
        .modal-close{
            &:after{
                color: #2E2E2E;
            }
        }
        width: 100%;
        max-width: 1020px;
        padding: 3rem 5rem;
        background: white;
        position: relative;
        &__name{
            font-size: 3rem;
            margin-bottom: 3rem;
            font-weight: 800;   
        }
    }

.modal-service{
    background: white;
    width: 100%;
    max-width: 1020px;
    display: flex;
    &__close{
        position: absolute;
        width: 5.3rem;
        height: 5.7rem;
        background: white;
        display: flex;
        align-items: center; 
        justify-content: center;
        font-size: 3rem;
        z-index: 1;
        cursor: pointer;
        &:after{
            content: '';
            font-family: FontAwesome;
            color: $red;
        }
    }
    &__col{
        position: relative;
        width: 50%;
    }
    &__image{
        height: 100%;
        background-size: cover;
    }
    &__text{
        padding: 1.5rem 2.5rem;
        padding-right: 1rem;
        line-height: 1.5;
    }
    &__logo{
        position: absolute;
        right: 0;
        top: 0;
        max-width: 11rem;
        img{
            max-width: 100%;
        }
    }
    &__name{
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        padding-right: 15rem;
    }
}
@keyframes fadeServicesDetail{
    from{
        transform: scale(.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.mobile-nav-btn{
    background: none;
    border:none;
    span{
        height: 4px;
        background: $red;
        width: 25px;
        display: block;
        &:not(:first-child){
            margin-top: 4px;
        }
    }
}

@media screen and (max-width: 1060px){
    .main-header{
        height: 65rem;
    }
    .map{
        font-size: 1.5rem;
        &-card{
                padding-left: calc((100vw - 960px)/2 + 10px);
        }
    }
    .map-nav{
        padding-right: calc((100vw - 960px)/2 + 10px);
    }
}

@media screen and (max-width: 992px){
    .services-detail{
        &__image{
            flex: 0 0 15rem;
        }
    }
    .map{
        font-size: 1.2rem;
        margin-bottom: -5rem;
        &-card{
            width: 100% !important;
            height: 100%;
            z-index: 2;
            border-top: 1px solid lightgrey;
            border-bottom: 1px solid lightgrey;
            padding-left: calc(((100vw - 750px)/2) + 10px);
            padding-right: calc(((100vw - 750px)/2) + 10px);
            &__back{
                order: 9;
                margin-top: 2rem;
            }
            &__image{
                height: auto;
                background-image: none !important;
                padding: 0;
            }
        }
        .section-arrow{
            display: none;
        }
        &-block{
            padding-bottom: 0 !important;
            .h{
                margin-bottom: 0;
            }
        }
        &__main{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .map-nav{
        position: relative;
        width: 100%;
        padding: 2rem;
            padding-left: calc(((100vw - 750px)/2) + 10px);
            padding-right: calc(((100vw - 750px)/2) + 10px);
        &__header{
            br{
                display: none;
            }
        }
        &__container{
            flex: 0 1 auto;
            height: auto;
        }
    }

    .map-list{
        display: flex;
        &__item{
            padding: 0 2rem;
        }
    }

    .top-panel{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
        top: 0;
        box-shadow: 0 0 30px rgba(black, .2);
        &__row{
            height: 6rem;
        }
    }
    .main-header{
        height: 50rem;
        padding-top: 6rem;
        &__center{
            flex: 1 1 0;
            align-items: center;
            display: flex;
        }
        &__arrow{
            margin-bottom: 5rem;
        }
    }
    .footer-sep{
        margin: 0;
    }
    .about{
        background-image: url('../img/about-pattern.png');
    }
    .partners{
        &__item{
            flex: 0 0 calc(100% / 6);
            min-width: calc(100% / 6);
        }
    }
    .vacancy-props{
        padding-left: 0;
        padding-right: 0;
    }
    .vacancy-props__col:not(:last-child){
        margin-right: 3rem;
    }
}

@media screen and (max-width: 768px){
    .modal-service{
        flex-direction: column;
        &__col{
            width: 100%;
            &:nth-child(2){
                height: 50rem;
                flex: 0 0 50rem;
            }
        }
    }
    .services-detail{
        .slider-nav{
            &>*{
                top: 15rem;
            }
        }
    }
    .map{
        font-size: .8rem;
        &-nav,
        &-card{
            padding-left: calc(((100vw - 540px)/2) + 10px);
            padding-right: calc(((100vw - 540px)/2) + 10px);
        }
        &-card{
            
            padding-top: 3rem;
            padding-bottom: 1rem;
        }
    }
    .footer-form__header{
        flex-direction: column;
        &>*:first-child{
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 575px){
    .modal-service{

        &__col{
            width: 100%;
            &:nth-child(2){
                height: 30rem;
                flex: 0 0 30rem;
            }
        }
    }
    .services-detail{
        max-height: 500px;
        top: 0;
        &__name{
            font-size: 2rem;
        }
    }
    body{
        font-size: 1.4rem;
    }
    .section{
        padding: 4rem 0;
    }
    .h{
        &_xl{
            font-size: 2.4rem;
        }
        &_l{
            font-size: 1.6rem;
        }
    }
    .main-header{

    }
    .header-center{
        &__header{
            font-size: 2.5rem;
        }
    }
    .about{
        padding: 4rem 0;
    }
    .about-slider__item.swiper-slide .default-content{
        margin-right: 2rem;
    }
    .map{
        font-size: 1.5vw;
        margin-bottom: 0;
        &-card{
            padding-left: 10px;
            padding-right: 10px;
            &__name{
                font-size: 2rem;
            }
        }
        &-nav{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .tabs-nav{
        width: 100%;
        flex-direction: column;
        margin: 0;
        &__item:not(:last-child){
            margin: 0;
            margin-bottom: 1rem;
        }
    }
    .service-item{
        &__text{
            position: static;
        }
    }
    .portfolio-item{
        &__text{
            border:none;
            bottom: 0;
            left: 0;
            right: 0;
            transform: none;
            width: auto;
            max-width: none;
            height: auto;
            top: auto;
        }
        &__name{
            padding: 2rem;
            font-size: 1.6rem;
        }
    }
    .partners{
        &__item{
            flex: 0 0 33.3333%;
        }
    }
    .main-footer__logo{
        display: none;
    }
    .main-footer__studio{
        max-width: 12rem;
        margin-left: auto;
    }

    .modal{
        padding: 4rem 2rem;
        &-close:after{
            font-size: 1.8rem;
        }
    }
    .modal-vac,
    .modal-portfolio{
        padding: 2rem;
        &__name{
            font-size: 2.4rem;
            margin-bottom: 1rem;
        }
    }

    .portfolio-gallary{
        height: 40rem;
        &__name{
            font-size: 2.4rem;
        }
        &__desc{
            font-size: 1.2rem;
            height: 100%;
        }
    }
}
#modalService{
    padding: 0;
}
.fancybox-button--close{
    display: none;
}

/*-- START: mobile nav --*/
.mobile-nav{
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 20;
	box-shadow: 0 0 30px grey;
	top:0;
	left: 0;
	background: white;
	height: 100%;
	overflow: auto;
	width: 260px;
	transition: transform .3s;
	&-btn{
		background: none;
		border:none;
		padding:0;
		span{
			width: 26px;
			height: 4px;
			border-radius: 4px;
			display: block;
			background: $red;
			transition: all .3s;
			&:not(:first-child){
				margin-top: 4px;
			}
		}
		&.active{
			span{
				&:nth-child(1){
					transform: translate(0px,8px) rotate(45deg);
				}
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(3){
					transform: translate(0px,-8px) rotate(-45deg);
				}
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
	&:not(.active){transform: translate(-150%,0)}
	&__parent{
		position: relative;
	}
	&__list,&__dropdown{
		@extend .ns;
		&-toggler{
			background:none;
			position: absolute;
			padding: 5px;
			border:none;
			right: 2rem;
			top: 1rem;
			&:before{
				content: '';
				display: block;
				border: 5px solid transparent;
				border-top-color: $black;
				border-top-width: 7px;
				transform: translate(0,3px);
			}
		}
	}
	&__dropdown:not(.active){
		display: none;
	}
	&__dropdown{
		padding-left: 1rem;
		font-size: 0.9em;
		.mobile-nav__link{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
	&__section{
		padding: 1rem 0;
		&:not(:first-child){
			border-top: 1px solid rgba(black ,.3);
		}
		&_1{
			text-transform: uppercase;
		}
	}
	&__link{
		display: block;
		padding: 1rem 3rem;
		text-decoration: none;
		color: inherit;
	}
}
/*-- END: mobile nav --*/